<!-- <canvas id="board" width="600" height="600">

</canvas> -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"></a>
  <form class="form-inline">
    <button type="button" class="btn btn-primary" (click)="setConfiguring()">
      Configurar
      <i *ngIf="isConfiguring" class="fa-solid fa-circle-chevron-up"></i>
      <i *ngIf="!isConfiguring" class="fa-solid fa-circle-chevron-down"></i>
    </button>
  </form>
</nav>


<div>
  <div class="container">
    <form [formGroup]="boardConfiguration">
      <div class="row" *ngIf="isConfiguring">
        <div class="form-group col-md-4">
          <p class="text-center font-weight-bold">COLOR CLARO</p>
          <div class="input-group">
            <input class="form-control" type="color" class="colorPicker" name="ligthColor"
              formControlName="ligthColor"
              [(ngModel)]=_configurationService.configuration.ligthColor>
            <br /><br />
            <button *ngIf="editItem != 'ligthColor'" class="btn btn-primary btn-block mb-1 mt-1"
              (click)="edit('ligthColor')">Editar
            </button>
            <button *ngIf="editItem == 'ligthColor'" class="btn btn-primary btn-block mt-1"
              (click)="cancelEdit()">Cancelar
            </button>
            <button *ngIf="editItem == 'ligthColor'" type="submit"
              class="btn btn-primary btn-block mt-1" (click)="update('ligthColor')">Actualizar
            </button>
          </div>
        </div>
        <div class="form-group col-md-4">
          <p class="text-center font-weight-bold">COLOR OSCURO</p>
          <div class="input-group">
            <input class="form-control" type="color" class="colorPicker" name="darkColor"
              formControlName="darkColor" [(ngModel)]=_configurationService.configuration.darkColor>
            <br /><br />
            <button *ngIf="editItem != 'darkColor'" class="btn btn-primary btn-block mb-1 mt-1"
              (click)="edit('darkColor')">Editar
            </button>
            <button *ngIf="editItem == 'darkColor'" class="btn btn-primary btn-block mt-1"
              (click)="cancelEdit()">Cancelar
            </button>
            <button *ngIf="editItem == 'darkColor'" type="submit"
              class="btn btn-primary btn-block mt-1" (click)="update('darkColor')">Actualizar
            </button>
          </div>
        </div>
        <div class="form-group col-md-4">
          <p class="text-center font-weight-bold">TAMAÑO CASILLA</p>
          <div class="input-group">
            <input class="form-control" type="number" class="form-control" name="squareSize"
              step="5" formControlName="squareSize" min="20" max="150"
              [(ngModel)]=_configurationService.configuration.squareSize>
            <br /><br />
            <button *ngIf="editItem != 'squareSize'" class="btn btn-primary btn-block mb-1 mt-1"
              (click)="edit('squareSize')">Editar
            </button>
            <button *ngIf="editItem == 'squareSize'" class="btn btn-primary btn-block mt-1"
              (click)="cancelEdit()">Cancelar
            </button>
            <button *ngIf="editItem == 'squareSize'" type="submit"
              class="btn btn-primary btn-block mt-1" (click)="update('squareSize')">Actualizar
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isConfiguring">
        <div class="form-group col-md-12">
          <p class="text-center font-weight-bold">CARGAR POSICIÓN FEN</p>
          <div class="input-group">
            <input class="form-control" type="text" class="form-control" name="fenPosition"
              formControlName="fenPosition" [(ngModel)]=_moveService.FEN>
            <br /><br />
            <button *ngIf="editItem != 'fenPosition'" class="btn btn-primary btn-block mb-1 mt-1"
              (click)="loadFromFemPosition()">Cargar
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!_moveService.isCheckmate" class="row">
        <div class="col-6">
          <h4>Mueven
            <span *ngIf="_moveService.colorToMove == 'w'">blancas</span>
            <span *ngIf="_moveService.colorToMove == 'b'">negras</span>
          </h4>
        </div>
      </div>
      <div *ngIf="!_moveService.isCheckmate" class="row">
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="computerPlayBlack"
              name="computerPlayBlack" formControlName="computerPlayBlack"
              [(ngModel)]=_moveService.computerPlayBlack>
            <label class="form-check-label" for="computerPlayBlack">
              La computadora juega negras
            </label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="computerPlayWhite"
              name="computerPlayWhite" formControlName="computerPlayWhite"
              [(ngModel)]=_moveService.computerPlayWhite>
            <label class="form-check-label" for="computerPlayWhite">
              La computadora juega blancas
            </label>
          </div>
        </div>

        <!--         <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="computerPlayBlack"
            name="computerPlayBlack" formControlName="computerPlayBlack"
            [(ngModel)]=_moveService.computerPlayBlack>
          <label class="form-check-label" for="computerPlayBlack">
            La computadora juega negras
          </label>
        </div> -->
      </div>
    </form>
  </div>
</div>

<div class="row">
  <button class="btn btn-primary m-5" (click)="_moveService.doNextMove('w')">Comenzar</button>
</div>


<section id="board"></section>

<div *ngIf="_moveService.isCheckmate || _moveService.isTablas">
  <h1 *ngIf="_moveService.isCheckmate">!!Jaque Mate!! Ganan
    <span *ngIf="_moveService.colorToMove == 'w'">negras</span>
    <span *ngIf="_moveService.colorToMove == 'b'">blancas</span>
  </h1>
  <h1 *ngIf="_moveService.isTablas">Tablas</h1>
  <button class="btn btn-primary btn-block mt-1" (click)="playAgain()">Volver a jugar
  </button>
</div>