@import '../scss/styles.scss';


::ng-deep .square {
  width: $squareSize;
  height: $squareSize;
}

::ng-deep .dark {
  background-color: $darkColor;
  ;
}

::ng-deep .ligth {
  background-color: $ligthColor;
}