#board {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep div {
  width: 50px;
  height: 50px;
}

::ng-deep .dark {
  background-color: #842A0D;
}


::ng-deep .ligth {
  background-color: #F1CDC1;
}


#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}