@import './theme';
@import './functions';

$ligthColor: var(--ligthColor);
$darkColor: var(--darkColor);
$squareSize: var(--squareSize);

#board {
  display: grid;
  align-items: center;
  justify-content: center;
}

.colorPicker {
  width: 100%;
  height: 50px;
}

.possibleMove {
  border: 2px solid #000;
  border-radius: 30%;
}

.possibleCapture {
  // border: 2px solid red;
  opacity: 0.6;
}

.row {
  display: flex;
}