@import './theme';
@import './functions';

$ligthColor: var(--ligthColor);
$darkColor: var(--darkColor);
$squareSize: var(--squareSize);

#board {
  display: grid;
  align-items: center;
  justify-content: center;
}

.colorPicker {
  width: 100%;
  height: 50px;
}

.posibleMove {
  background-color: blueviolet!important
}

.row {
  display: flex;
}