.theme-wrapper {
  --ligthColor: rgb(61, 132, 67);
  --darkColor: rgb(194, 191, 243);
  --squareSize: 50px;
}

// pass variables into a sass map
$variables: (
  --ligthColor: var(--ligthColor),
  --darkColor: var(--darkColor),
  --squareSize: var(--squareSize)
);